@import 'vars';
@import 'mixins';

* {
	box-sizing: border-box;
}

body {
	background: #EFEFEF;
}

.container {
	width: 100%;
	padding: 40px;
	max-width: $container-width;
	margin: 0 auto;
}

.circle {
	@include circle(40px);
}