/* line 1, src/components/hero/hero.scss */
.component-hero {
  width: 100%;
  min-height: 350px;
  background: #333;
  color: #EFEFEF;
  text-align: center;
  box-shadow: inset  0  13px 13px -8px #000,  inset  0 -13px 13px -8px #000; }

/* line 1, src/components/grid/grid.scss */
.component-carousel {
  width: 100%; }
