/* line 4, src/sass/main.scss */
* {
  box-sizing: border-box; }

/* line 8, src/sass/main.scss */
body {
  background: #EFEFEF; }

/* line 12, src/sass/main.scss */
.container {
  width: 100%;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto; }

/* line 19, src/sass/main.scss */
.circle {
  background: #888;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  position: relative;
  z-index: 1; }
  /* line 15, src/sass/_mixins.scss */
  .circle::before, .circle::after {
    border-radius: 50%;
    display: inline-block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  /* line 25, src/sass/_mixins.scss */
  .circle::before {
    background: #EFEFEF;
    width: 26.66667px;
    height: 26.66667px;
    z-index: 2; }
  /* line 32, src/sass/_mixins.scss */
  .circle::after {
    background: #888;
    width: 16px;
    height: 16px;
    z-index: 3; }
